<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= form_for @search do |f| %>

	<%= f.label :name_contains %>
	<%= f.text_field :name_contains, :placeholder => 'Write the search' %>
	<%= f.submit "Search", :class => "btn btn-large btn-primary"  %>

<%end%>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>